<!-- create the template file that will display our form -->

{% extends 'base.html'%}

<!-- import _bootstrap/wtf.html_ from Flask-Bootstrap that defines helper functions to render web forms-->
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">

    <div class="col-md-8">

        <img src="{{movie.poster}}" alt="{{movie.title}}" class="img-responsive">
    </div>

    <div class="col-md-4">
        {{ wtf.quick_form(review_form) }}
        <!--wtf.quick_form() function takes in a Flask-WTF form object and renders it with bootstrap styling.-->
        {{simplemde.load}}      <!-- loading our new review form. This finds the text area field and applies changes to it.
             Now when we launch our application we will see a simple markdown editor on our review page.-->
    </div>
</div>

{% endblock %}

